.Botoncito {
    color: #FFF; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid;
    background-color: #FFD900;
}

.Botoncito:hover {
    color: #FFF;
    background-color: #FF4500;
    text-decoration: none;
    cursor: pointer;
}