
.navbar-simpsons {
  background-color: transparent; 
  padding: 10px 30px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  font-family: 'Arial', sans-serif;
}

.nav-link-simpsons {
    color: #FFF; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid;
    background-color: #FFD900;
}

.nav-link-simpsons:hover {
    color: #FFF;
    background-color: #FF4500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-link-logout {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  .nav-link-logout:hover {
    background-color: #FF4500;
    color: #FFF;
    cursor: pointer;
  }