body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("../public/background.jpg");
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}