.login-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-register input{
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: large;
  color: #000; 
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffe23f;
}